/* Start Global Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --section-bg-color: #ececec;
}
body {
  font-family: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: var(--main-color) #f6f6f6;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 7px #ddd inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  height: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-heading {
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px 20px;
  margin: 0 auto 100px;
  cursor: pointer;
  transition: var(--main-transition);
  text-transform: uppercase;
  z-index: 100;
}
.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
  transition: 0.5s;
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main-heading::after {
  left: auto;
  right: -30px;
}
.main-heading:hover {
  color: white;
  border: 2px solid transparent;
  transition-delay: 0.7s;
}
.main-heading:hover::before {
  animation: heading-before 0.7s linear forwards;
  -webkit-animation: heading-before 0.7s linear forwards;
}
.main-heading:hover::after {
  animation: heading-after 0.7s linear forwards;
  -webkit-animation: heading-after 0.7s linear forwards;
}
.spikes {
  position: relative;
}
.spikes::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 28px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  background-image: url(../images/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots.up {
  top: 100px;
  right: 0;
}
.dots.down {
  bottom: 50px;
  left: 0;
}
@media (max-width: 1022px) {
  .dots {
    display: none;
  }
}
/* End Components */
/* Start Header */
.preloader {
  background: #191f26 url(../images/loader.gif) no-repeat center center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}
.error {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: up-and-down 4s linear infinite;
  -webkit-animation: up-and-down 4s linear infinite;
}
.error img {
  max-width: 400px;
}
.error h2 {
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 10px;
}
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
header .container .menu {
  display: flex;
  flex-wrap: wrap;
}
header .container .menu > li > a {
  height: 72px;
  padding: 0 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .container .menu > li > a::before {
  content: "";
  width: 0;
  position: absolute;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
header .container .menu > li:hover > a {
  color: var(--main-color);
}
@media (min-width: 651px) {
  header .container .menu > li:hover > a::before {
    width: 100%;
  }
  header .container .menu > li:hover > a {
    background-color: #fafafa;
  }
}
@media (max-width: 650px) {
  header .container .menu {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    left: -50%;
    top: 72px;
    z-index: 5;
    background-color: white;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  header .container .menu > li {
    width: fit-content;
  }
  .menu-btn {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
    padding: 5px;
    z-index: 500;
  }
  .menu-btn span {
    display: block;
    width: 24px;
    height: 3px;
    transition: all 0.5s ease-in-out;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .menu-btn.open span {
    transform: translateX(-25px);
    background: transparent;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
  }
  .menu-btn.open span::before {
    transform: rotate(45deg) translate(17px, -17px);
    -webkit-transform: rotate(45deg) translate(17px, -17px);
    -moz-transform: rotate(45deg) translate(17px, -17px);
    -ms-transform: rotate(45deg) translate(17px, -17px);
    -o-transform: rotate(45deg) translate(17px, -17px);
  }
  .menu-btn.open span::after {
    transform: rotate(-45deg) translate(17px, 17px);
    -webkit-transform: rotate(-45deg) translate(17px, 17px);
    -moz-transform: rotate(-45deg) translate(17px, 17px);
    -ms-transform: rotate(-45deg) translate(17px, 17px);
    -o-transform: rotate(-45deg) translate(17px, 17px);
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 24px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transform: translateY(-8px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }
  header .menu-btn span::after {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }
}
header .mega-menu {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  opacity: 0;
  top: calc(100% + 50px);
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
header .mega-menu .image img {
  width: 400px;
}
header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}
@media (max-width: 992px) {
  header .mega-menu .image {
    display: none;
  }
}
@media (max-width: 650px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    margin-bottom: 50px;
    top: calc(100% + 550px);
  }
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.show {
  top: 100% !important;
  opacity: 1 !important;
  z-index: 500 !important;
}
/* End Header */
/* Start Landing */
#landing {
  position: relative;
}
#landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 100%;
  background-color: var(--section-bg-color);
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}
#landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 120px;
}
#landing .content {
  width: 50%;
}
#landing .img {
  position: relative;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}
#landing .img img {
  margin-top: 20px;
  width: 300px;
  max-width: 100%;
}
#landing h3 {
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: bold;
}
#landing p {
  font-size: 23px;
  letter-spacing: 1.7;
  color: #666;
  margin: 5px 0 0;
}
#landing .arrow-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: arrowDown 1.5s 0s infinite ease;
  -webkit-animation: arrowDown 1.5s 0s infinite ease;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 991px) {
  #landing .container {
    flex-direction: column-reverse;
  }
  #landing .content {
    text-align: center;
    width: auto;
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  #landing h3 {
    font-size: 28px;
  }
  #landing p {
    font-size: 18px;
  }
}
/* End Landing */
/* Start Articles */
#articles {
  padding: var(--main-padding) 0;
  position: relative;
  z-index: 100;
}
#articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  position: relative;
}
#articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
#articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
#articles .box img {
  max-width: 100%;
}
#articles .box .content {
  padding: 20px;
}
#articles .box .content p {
  color: #777;
  margin: 10px 0 0;
  line-height: 1.5;
}
#articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  font-weight: bold;
}
#articles .box:hover .info i {
  animation: arrow-moving 0.6s linear infinite;
}
/* End Articles */
/* Start Gallery */
#gallery {
  padding: var(--main-padding) 0;
  background-color: var(--section-bg-color);
  position: relative;
}
#gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
#gallery .container .img {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#gallery .container .img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#gallery .container .img:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
#gallery .container .img:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}
#gallery .container .img img {
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
/* End Gallery */
/* Start Features */
#features {
  padding: var(--main-padding) 0;
  background-color: white;
  position: relative;
}
#features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#features .container > div {
  text-align: center;
  border: 1px solid #ccc;
}
#features .container > div .img {
  position: relative;
  overflow: hidden;
}
#features .container > div .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgb(0 0 0 / 10%);
}
#features .container > div .img::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 550px;
  border-color: transparent transparent white transparent;
  z-index: 500;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#features .container > div .img img {
  max-width: 100%;
}
#features .container > div:hover .img::before {
  border-width: 170px 550px 170px 0px;
}
#features .container > div h2 {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  position: relative;
  font-size: 40px;
}
#features .container > div h2::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
  background-color: red;
}
#features .container > div p {
  margin: 30px 0;
  padding: 25px;
  font-size: 20px;
  line-height: 2;
  color: #555;
}
#features .container > div a {
  display: block;
  border: 3px solid;
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto;
  transition: var(--main-transition);
  border-radius: 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
#features .container > div:first-child .img .overlay {
  background-color: #f4403699;
}
#features .container > div:first-child h2::before {
  background-color: #f44036;
}
#features .container > div:first-child a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
#features .container > div:nth-child(2) .img .overlay {
  background-color: #0d9c8c99;
}
#features .container > div:nth-child(2) h2::before {
  background-color: #0d9c8c;
}
#features .container > div:nth-child(2) a {
  color: #0d9c8c;
  border-color: #0d9c8c;
  background: linear-gradient(to right, #0d9c8c 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
#features .container > div:nth-child(3) .img .overlay {
  background-color: #0eadf599;
}
#features .container > div:nth-child(3) h2::before {
  background-color: #0eadf5;
}
#features .container > div:nth-child(3) a {
  color: #0eadf5;
  border-color: #0eadf5;
  background: linear-gradient(to right, #0eadf5 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
#features .container > div a:hover {
  color: white;
  background-position: left bottom;
}
/* End Features */
/* Start Testimonials */
#testimonials {
  padding: var(--main-padding) 0;
  background-color: var(--section-bg-color);
  position: relative;
}
#testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 50px;
  column-gap: 40px;
}
#testimonials .container .rate {
  position: relative;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
#testimonials .container .rate .img {
  position: absolute;
  right: -7px;
  top: -50px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--section-bg-color);
  padding: 10px;
}
#testimonials .container .rate .img img {
  width: 100%;
}
#testimonials .container .rate h3 {
  margin: 0 0 10px;
}
#testimonials .container .rate p:first-of-type {
  color: var(--main-color);
  margin-bottom: 10px;
  font-weight: bold;
}
#testimonials .container .rate .stars i.fas {
  color: #ffc107;
}
#testimonials .container .rate p:last-child {
  margin-top: 10px;
  line-height: 1.5;
  color: #777;
}
/* End Testimonials */
/* Start Team Members*/
#team {
  padding: var(--main-padding) 0;
  position: relative;
}
#team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#team .container .box {
  padding: 60px 0 0;
  border-radius: 10px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#team .container .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  background-color: var(--section-bg-color);
  z-index: -2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
#team .container .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  z-index: -1;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#team .container .box:hover::after {
  width: calc(100% - 60px);
}
#team .container .box .data {
  width: calc(100% - 60px);
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#team .container .box .data img {
  width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#team .container .box:hover img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#team .container .box .data .social {
  width: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#team .container .box .data .social a {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #777;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#team .container .box .data .social a:hover {
  color: var(--main-color);
}
#team .container .box .info {
  width: calc(100% - 60px);
  margin-left: 60px;
}
#team .container .box .info h3 {
  color: var(--main-color);
  margin: 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#team .container .box .info p {
  margin: 15px;
}
#team .box:hover .info h3 {
  color: #777;
}
@media (max-width: 670px) {
  #team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #team .container .box::before {
    width: 100%;
  }
  #team .container .box:hover::after {
    width: 100%;
  }
  #team .container .box .data {
    margin-left: 15px;
  }
  #team .container .box .data .social,
  #team .container .box .data .social a {
    width: 45px;
  }
  #team .container .box .info {
    margin-left: 0;
  }
  #team .container .box {
    max-width: 450px;
  }
}
/* End Team Members */
/* Start Services */
#services {
  padding: var(--main-padding) 0;
  background-color: var(--section-bg-color);
}
#services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  text-align: center;
}
#services .container .box {
  background-color: white;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
#services .container .box::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  top: -3px;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#services .container .box i {
  color: #d5d5d5;
  margin: 30px auto 20px;
  display: block;
}
#services .container .box h3 {
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
#services .container .box .info {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
}
#services .container .box .info p {
  background-color: var(--main-color);
  color: white;
  height: 48px;
  width: 80px;
  margin: 0 0 0 -15px;
  font-size: 30px;
  font-weight: bold;
  line-height: 46px;
  padding-right: 15px;
}
#services .container .box .info::before {
  content: "";
  background-color: #d5d5d5;
  position: absolute;
  top: 0;
  left: 66px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
#services .container .box .info a {
  color: var(--main-color);
}
#services .container .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
#services .container .box:hover::before {
  width: 100%;
}
/* End Services */
/* Start Our-skills */
#skills {
  padding: var(--main-padding) 0;
}
#skills .container {
  display: flex;
  align-items: center;
}
#skills .container > img {
  max-width: 100%;
}
#skills .container .skill {
  flex: 1;
}
#skills .container .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
#skills .container .skill h3 > span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#skills .container .skill .progress .bar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #eee;
}
#skills .container .skill .progress .bar span {
  background-color: var(--main-color);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media (max-width: 991.5px) {
  #skills .container {
    flex-direction: column;
  }
  #skills .container .skill {
    width: 100%;
  }
}
/* End Our-skills */
/* Start How */
#how {
  padding: var(--main-padding) 0;
  background-color: var(--section-bg-color);
}
#how .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
#how .container .img img {
  max-width: 100%;
}
#how .container .content {
  flex-basis: 50%;
}
#how .container .content img {
  width: 64px;
  margin-right: 30px;
}
#how .container .content .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}
#how .container .content .box::before {
  content: "";
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
}
#how .container .content .box:hover::before {
  width: 100%;
  height: 100%;
}
#how .container .content .box .info {
  flex-basis: 80%;
}
#how .container .content .box .info h3 {
  margin: 0;
  font-size: 22px;
}
#how .container .content .box .info p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
@media (max-width: 1200px) {
  #how .container {
    justify-content: center;
    gap: 100px;
  }
  #how .container .content {
    flex-basis: 100%;
  }
}
@media (max-width: 771px) {
  #how .container .content .box {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  #how .container .content .box .info {
    flex-basis: 100%;
  }
}
/* End How */
/* Start Events */
#events {
  padding: var(--main-padding) 0;
  position: relative;
}
#events .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#events .container .content .info {
  flex: 1;
  position: relative;
}
#events .container .content .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
#events .container .content .info .time .unit {
  cursor: pointer;
  border: 1px solid #d4d4d4;
  width: 75px;
  text-align: center;
  border-radius: 6px;
  transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#events .container .content .info .time .unit span {
  display: block;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#events .container .content .info .time .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
#events .container .content .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
#events .container .content .info .time .unit:hover {
  border-color: var(--main-color);
}
#events .container .content .info .time .unit:hover span:last-child {
  border-top-color: var(--main-color);
}
#events .container .content .info .text h2 {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
#events .container .content .info .text p {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
  margin: 20px auto;
}
#events .container .content .img {
  max-width: 450px;
}
#events .container .content .img img {
  max-width: 100%;
}
#events .container .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
#events .container .input form {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  width: 600px;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#events .container .input input::placeholder,
#events .container .input input {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#events .container .input input:first-child {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#events .container .input input:first-child:focus {
  outline: none;
}
#events .container .input input:first-child:focus::placeholder {
  opacity: 0;
}
#events .container .input input:last-child {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#events .container .input input:last-child:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 400px) {
  #events .container .content .info .time .unit {
    width: 60px;
  }
  #events .container .content .info .time .unit span:first-child {
    font-size: 25px;
  }
  #events .container .content .info .time .unit span:last-child {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  #events .container .input {
    width: 100%;
  }
  #events .container .input form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
    margin: 20px auto;
  }
  #events .container .input input {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
  }
}
/* End Events */
/* Start Pricing */
#pricing {
  padding: var(--main-padding) 0;
  position: relative;
  background-color: var(--section-bg-color);
}
#pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
#pricing .container .plan {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
  background-color: white;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#pricing .container .plan::before,
#pricing .container .plan::after {
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#pricing .container .plan::after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
#pricing .container .plan:hover::before,
#pricing .container .plan:hover::after {
  width: 100%;
}
#pricing .container .plan.popular {
  top: -20px;
}
@media (max-width: 1200px) {
  #pricing .container .plan.popular {
    top: 0;
  }
}
#pricing .container .plan.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
#pricing .container .plan.popular .label::before {
  content: "";
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
#pricing .container .plan h3 {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
#pricing .container .plan img {
  width: 80px;
  margin-bottom: 30px;
}
#pricing .container .plan p.price {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
#pricing .container .plan p.period {
  color: #777;
  margin-bottom: 20px;
}
#pricing .container .plan p.specs {
  text-align: left;
  padding: 20px;
  border-top: 1px solid #eee;
}
#pricing .container .plan p.specs::before {
  font-family: "Font Awesome 5 Pro";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
#pricing .container .plan a {
  width: fit-content;
  width: -moz-fit-content;
  display: block;
  cursor: pointer;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#pricing .container .plan a:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}
/* End Pricing */
/* Start Videos */
#video {
  padding: var(--main-padding) 0;
  position: relative;
}
#video .container {
  display: flex;
  align-items: center;
}
#video .container .adresses {
  background-color: #f4f4f4;
  min-width: 300px;
  border: 1px solid #ddd;
  border-right: none;
}
#video .container .adresses p.top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  color: var(--main-color);
}
#video .container .adresses p:not(.top) {
  padding: 20px;
  border-top: 1px solid var(--section-bg-color);
  cursor: pointer;
  transition: var(--main-transition);
  background-color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#video .container .adresses p:not(.top):hover {
  color: var(--main-color);
  background-color: #fafafa;
}
#video .container .adresses p:not(.top) span {
  display: block;
  margin-top: 10px;
  color: #777;
}
#video .container .video {
  background-color: #e2e2e2;
  height: 671.6px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-left: none;
}
#video .container .video img {
  max-width: 100%;
}
#video .container .video p {
  background-color: white;
  padding: 20px;
  width: 100%;
  margin: 10px 10px 0;
}
@media (max-width: 991px) {
  #video .container {
    flex-direction: column;
  }
  #video .container .adresses {
    border-right: 1px solid #ddd;
    border-bottom: none;
    width: 100%;
  }
  #video .container .video {
    height: auto;
    border-top: none;
    border-left: 1px solid #ddd;
  }
}
/* End Videos */
/* Start Stats */
#stats {
  padding: var(--main-padding) 0;
  position: relative;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  min-height: 300px;
}
#stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
#stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto 50px;
  position: relative;
}
#stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
#stats .container .stat {
  padding: 30px 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#stats .container .stat::before,
#stats .container .stat::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#stats .container .stat::before {
  top: 0;
  left: -3px;
}
#stats .container .stat::after {
  bottom: 0;
  right: -3px;
}
#stats .container .stat:hover {
  opacity: 1;
}
#stats .container .stat:hover::before,
#stats .container .stat:hover::after {
  height: 100%;
}
#stats .container .stat h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}
#stats .container .stat:last-child h2 {
  position: relative;
}
#stats .container .stat:last-child h2::before {
  content: "K";
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
  position: absolute;
  right: -28px;
  top: -9px;
}
#stats .container .stat p {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */
/* Start Discount */
#discount {
  padding-bottom: 50px;
}
#discount .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}
#discount .container .discount {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  z-index: 1;
  padding: 0 20px;
  min-height: 100vh;
  text-align: center;
  animation: change-background 10s linear infinite;
  -webkit-animation: change-background 10s linear infinite;
}
#discount .container .discount::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
#discount .container .discount h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
#discount .container .discount p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  margin: 20px auto;
}
#discount .container .discount img {
  width: 300px;
  max-width: 100%;
}
#discount .container .request {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
#discount .container .request form {
  min-width: 300px;
}
#discount .container .request h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
#discount .container .request input,
#discount .container .request textarea {
  margin: 0 auto 25px;
  display: block;
  caret-color: var(--main-color);
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;
}
#discount .container .request textarea {
  resize: none;
  height: 200px;
}
#discount .container .request input::placeholder,
#discount .container .request textarea::placeholder {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#discount .container .request input:focus,
#discount .container .request textarea:focus {
  outline: none;
}
#discount .container .request input:focus::placeholder,
#discount .container .request textarea:focus::placeholder {
  opacity: 0;
}
#discount .container .request input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  border-bottom: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#discount .container .request input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
#discount .container .request .progress {
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  position: relative;
  top: -27px;
}
@media (max-width: 970px) {
  #discount .container {
    flex-direction: column;
  }
  #discount .container > div {
    width: 100%;
    min-height: auto !important;
  }
  #discount .container > div h2 {
    margin-top: 30px;
    font-size: 30px !important;
    letter-spacing: 0 !important;
  }
}
/* End Discount */
/* Start Footer */
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .container .box:first-child h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .container .box:first-child ul {
  display: flex;
}
footer .container .box:first-child ul li {
  margin-right: 10px;
}
footer .container .box:first-child ul li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .container .box:first-child ul li:first-child:hover a {
  background-color: #1877f2;
}
footer .container .box:first-child ul li:nth-child(2):hover a {
  background-color: #1da1f2;
}
footer .container .box:first-child ul li:last-child:hover a {
  background-color: #0077b5;
}
footer .container .box:first-child p {
  line-height: 2;
  color: #b9b9b9;
  margin-top: 20px;
}
footer .container .box:nth-child(2) ul li,
footer .container .box:nth-child(2) ul li a {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .container .box:nth-child(2) ul li {
  padding: 15px 0;
}
footer .container .box:nth-child(2) ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .container .box:nth-child(2) ul li a {
  display: block;
  color: #b9b9b9;
}
footer .container .box:nth-child(2) ul li a::before {
  font-family: "Font Awesome 5 Pro";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .container .box:nth-child(2) ul li:hover {
  padding-left: 10px;
}
footer .container .box:nth-child(2) ul li:hover a {
  color: white;
}
footer .container .box:nth-child(3) .line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: #b9b9b9;
  gap: 15px;
}
footer .container .box:nth-child(3) .line i {
  color: var(--main-color);
  font-size: 25px;
}
footer .container .box:nth-child(3) .line p {
  line-height: 1.7;
  flex: 1;
}
footer .box.footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  footer .container .box:nth-child(1) ul.social {
    justify-content: center;
  }
  footer .container .box:nth-child(3) .line {
    flex-direction: column;
  }
}
/* End Footer */
/* Start Animations */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -25px;
  }
}
@keyframes arrowDown {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}
@keyframes heading {
  20% {
    overflow: hidden;
  }
  100% {
    color: white;
  }
}
@keyframes heading-before {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes heading-after {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes arrow-moving {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
/* End Animations */
